Source: peak-linux-driver
Section: net
Priority: extra
Maintainer: Markus Becker <mab@comnets.uni-bremen.de>
Build-Depends: debhelper (>= 7.0.50~), bzip2
Standards-Version: 3.8.4
Homepage: http://www.peak-system.com/fileadmin/media/linux/index.htm
Vcs-Git: http://git.debian.org/git/collab-maint/peak-linux-driver.git
Vcs-Browser: http://git.debian.org/?p=collab-maint/peak-linux-driver.git

Package: peak-linux-driver-utils
Architecture: any
Depends: ${misc:Depends}
Description: PEAK-System CAN utils
 This package provides the tools pcan_make_devices and wstress from PEAK-System.

Package: peak-linux-driver-source
Architecture: all
Depends: module-assistant, debhelper (>= 7), make, bzip2
Description: Source for the peak-linux-driver kernel modules
 This package provides the driver source code for CAN-bus interface 
 products from PEAK-System. These allow communication with the 
 Controller Area Network through standard PC-buses, such as USB, PCI etc.
 .
 You will need make-kpkg from kernel-package to be able to
 compile modules usable with a Debian kernel.
